@charset "utf-8";
/* CSS Document */
header {
	background-color: #fff;
}
.navDrawr>ul:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.navDrawr>ul>li {
	float: left;
	width: 20%;
	position: relative;
}
.navDrawr a {
	display: block;
	color: #fff;
	text-decoration: none;
	background: #3b93ff;
	padding: 5px 0px 5px 10px;
}
.navDrawr .sub li:last-child a {
	border: none;
}
.navDrawr>ul>li>a {
	border-right: 1px solid #3b93ff;
	text-align: center;
}
.navDrawr>ul>li>a:hover {
	background: #2980b9;
}
.navDrawr .sub {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 9999;
}
.navDrawr .sub a {
	background: #3b93ff;
	border-bottom: 1px solid #2980b9;
}
.navDrawr .sub a:hover {
	background: #2980b9;
}
#contents{
	padding-top:20px;
}

@media only screen and (max-width: 667px) {
	#wrapper{
		overflow:hidden;
	}
	.navDrawr {
		background-color: #666;
		position: fixed;
		width: 270px;
		top: 51px;
		bottom: 0;
		right: -270px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	.overlay {
		display: none;
		background-color: rgba(0,0,0,0.49);
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
	header {
		position:fixed;
		width: 100%;
		height: 50px;
		padding:0;
		z-index: 1;
		border-bottom: 1px solid #ccc;
	}
	body.menuOpen header{
		position: fixed;
		top:0;
		width: 100%;
	}
	.navDrawrBtn {
		text-align: right;
	}
	.navDrawrBtn span {
		position: fixed;
		top: -5px;
		right: 0;
		margin: auto;
		display: block;
		width: 60px;

		cursor: pointer;
	}
	.navDrawrBtn span::before {
		font-family: FontAwesome;
		content: "\f0c9";
		font-size: 24px;
		color: #0072ff;
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
		line-height: 60px;
	}
	body.menuOpen .navDrawrBtn span::before {
		content: "\f00d";
	}
	.navDrawr a {
		position: relative;
	}
	.navDrawr a::after {
		position: absolute;
		top: 50%;
		margin-top: -10px;
		right: 15px;
		font-family: FontAwesome;
		content: "\f054";
	}
	.navDrawr>ul>li {
		float: none;
		width: auto;
	}
	.navDrawr>ul>li>a {
		text-align: left;
		border-right: none;
		border-bottom: 1px solid #3279d0;
	}
	.navDrawr .sub {
		position: static;
		display: block!important;
	}
}




ul.imgList{}
ul.imgList::after{
	display: table;
	line-height: 0;
	content: "";
	clear:both;
}
ul.imgList li{
	float: left;
	width: 31.33333333%;
	margin: 1%;
}
ul.imgList li .thumbnail{
	background-color: #FFF;
	padding: 20px;
	border:solid 1px #ccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
ul.imgList li img{
	margin-bottom:10px;
}
ul.imgList li .caption{}
ul.imgList li .title{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

@media only screen and (max-width: 480px) {
	ul.imgList li{
		float: none;
		width: 98%;
		margin: 1%;
	}
}