@charset "utf-8";

/* parts
-------------------------------------*/
.wrap {
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
}
.spNone {
	display: none;
}
.pcOn {
	display: block;
}
/* layout
-------------------------------------*/

/* mainvisual
-------------------------------------*/
.relative{
    position: relative;  
}
.absolute-label{ 
    position: absolute;
    top:0px;  
    left:0px;  
}
.absolute-h1{ 
    width: 475px;
    position: absolute;
    color: #ffff00;
    font-size: 40px;
    top: 0;
    left:0;
    padding-left: 30px;
    background: linear-gradient(90deg, blue, transparent);
}
/* main contents
-------------------------------------*/
.main-area{
	max-width: 980px;
	margin: 0 auto;
}
.lead{
	width:93%;
	margin:0 auto;
	font-size:15px;
}
.frame{
	padding: 50px 0 0;
}
.three-column-layout{
	display: flex;
	justify-content: center;
}
.contentbottom{
	margin-bottom:40px;
}
h2{
	text-align:center;
	font-size:20px;
}
.column-side{
	background-color: #7776fd;
	height: 310px;
	width:30%;
	color:#fff;
	padding-left:10px;
	padding-right:10px;
	font-size:14px;
}
.column-side a{
	text-decoration:none;
	color:#fff;
}
.column-side a:hover{
	color:#ffff00;
}
.column-center{
	border-left: solid 3px #fff;
	border-right: solid 3px #fff;
	background-color: #7776fd;
	height: 310px;
	width:30%;
	color:#fff;
	padding-left:10px;
	padding-right:10px;
	font-size:14px;
}
.column-center a{
	text-decoration:none;
	color:#fff;
}
.column-center a:hover{
	color:#ffff00;
}
@media screen and (min-width: 320px) and ( max-width: 680px){
.three-column-layout{
	display: block;
}
.column-side{
	height: 300px;
	width: 75%;
	padding-left:10px;
	padding-right:10px;
	float: none;
	margin: 0 auto 20px;
}
.column-center{
	border-left: none;
	border-right: none;
	height: 300px;
	width: 75%;
	padding-left:10px;
	padding-right:10px;
	float: none;
	margin: 0 auto 20px;
}
.contentbottom{
	margin-bottom:40px;
}
}

ul li a img:hover{
	opacity:0.6;
}
.text p a{
	text-decoration:none;
	color:#de0000;
}
.text p a:hover{
	opacity:0.6;
}

@media screen and (min-width:320px) and ( max-width:667px) {
.wrap {
	max-width: 667px;
	margin: 0;
}
header{
	max-width:667px;
}
/* header
-------------------------------------*/
.logo{
	margin:10px 0px 0px 10px;
}
.spNone {
	display: block;
}
.pcOn {
	display: none;
}
.global-navi-bar{
	background-image:none;
	background-repeat:none;
}
/* main visual
-------------------------------------*/
.SP-mv{
	margin-top: 51px;
}
.absolute-h1{ 
    width: 100%;
    font-size: 30px;
    padding-left: 15px;
    line-height: 1.5;
}
/* main contents
-------------------------------------*/
.frame{
	padding: 30px 0px 0px;
}
.lead{
	width:90%;
	font-size:12pt;
	line-height:1.4;
}
}

